<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>投稿日</th>
      <th>タイトル</th>
      <th>レビュー</th>
      <th>評価</th>

      <th colspan="3"></th>
     </tr>
  </thead>
  <tbody>
   <% games.each do |game| %>
    <tr>
      <td><%= link_to(game.user) do %>
        <%= image_tag game.user.get_profile_image %>
        <% end %>
      </td>
      <td><%= l game.created_at %></td>
      <td><%= game.title %></td>
      <td><%= game.review %></td>
      <td><%=  game.category_id%></td>
      <td><%= link_to game.star%></td>

      <td class=<%= "favorite-" + game.id.to_s %> >
       <%#= render "favorites/btn",game:game %>
       </td>
        <td><%#= render "public/coments/counter", game: game %></td>
   　 </tr>
  　<% end %>
　</tbody>
</table>