<table class='table table-hover table-inverse'>
  <thead>
    <tr>

      <th></th>
      <th>投稿日</th>
       <th>ジャンル</th>
      <th>タイトル <th>
      <th></th>
      <th colspan="2"></th>
     </tr>
  </thead>
  <tbody>
   <% game.each do |game| %>
    <tr>

         <td><%= link_to(game.user) do %>
          <%= image_tag game.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>

      <td><%= l game.created_at, format: :short %></td>

      <td><%= game.category.name %></td>
      <td><%= game.title %></td>
      <td><%= game.review %></td>
      <td class=<%= "favorite-" + game.id.to_s %> >
       <%= render "public/favorites/btn",game:game %>
       </td>
        <td><%= render "public/comments/counter", game: game %></td>
        <td><%= link_to "show", game, class: "btn btn-success",data: {"turbolinks"=>false}   %></td>
   　 </tr>
   <% end %>
　</tbody>
</table>
<%= paginate game, params: {latest: params[:latest], old: params[:old], star_count: params[:star_count]}%>
