<div class='container px-5 px-sm-0'>
  <%#= render 'layouts/errors', obj: @game %>
  <div class='row'>
   <%= render 'public/searches/form' %>
    <%#= render 'public/categories/category_searched' %>
    <div class='col-md-3'>
   <%= render 'public/users/info', user: current_user %>
       <h2 class="mt-3">New game</h2>

      <%=render 'public/games/form', game: @game %>
      </div>
      <div class='col-md-8 offset-md-1'>
       <h2>ゲームレビュー</h2>
         <%= link_to '新しい順', games_path(latest: "true") %>
         <%= link_to '古い順', games_path(old: "true") %>
         <%= link_to '評価の高い順', games_path(star_count: "true") %>

      <%= render 'public/games/index', games: @games%>
      </div>
  </div>
</div>