<table>
  <tbody>
    <% game.game_comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to memmber_path(comment.memmber)do %>
         <%= image_tag comment.memmber.get_profile_image, size: "100×100"%>
         <%= comment.memmber.name%>
         <% end %>
      </td>
      <td><%= comment.comment %></td>
      <td>
        <% if comment.memmber == current.memmber %>
         <%= link_to "Destroy",game_comment_path(game.game_comment),method :delete, class: "btn btn-danger pull-right", remote: true %>
        <% end %>
      </td>
    </tr>
     <% end %>
  </tbody>
</table>