<div class="container px-5">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h3>
       <%= @game.title %>
      </h3>
      <table class="table table-hover table-inverse">
          <tr>
            <th>GameID</th>
             <td><%= @game.id %></td>
          </tr>
      </table>
      <%= form_with model: @game,url admin_game_path(@game.id),method: :patch, local:true do |f| %>
       <table class="table-hover table-inverse">
         <tr>
           <th>><%= f.label :title "ゲーム名" %></th>
           <td><%= f.text_field :title %></td>
         </tr>
           <th><%= f.label :review "レビュー" %></th>
           <td><%= f.text_area :review %></td>
           <th><%= f.label :is_deleted, "ステータス"%></th>
            <td>
              <%= f.radio_button :is_deleted, false %>
             <%= f.radio_button :is_deleted, "有効" %>
           </td>
           <td>
             <%= f.radio_button :is_deleted, true %>
             <%= f.label :is_deleted, "削除" %>
           </td>
         </tr>
         <td><%= f.submit "変更を保存", class:'btn-success'%></td>
         <td></td>
         <td></td>
       </table>
      <% end %>
    </div>
  </div>
</div>