<div class='container px-5 px-sm-0'>
  <div class='row'>
   <div class='col-md-3'>
     <table class='table'>
    <%= render 'public/users/info', user: current_user %>
    <br>
    <br>
    <ul class="navbar-nav ml-auto">
     <li><%= link_to "ユーザー一覧へ", users_path, class:"btn btn-primary" %></li>
    <br>
     <li><%= link_to "ゲーム一覧へ", games_path, class:"btn btn-primary" %></li>
    <br>
    <li><%= link_to"新規投稿", new_game_path, class:"btn btn-primary"  %></li>
    </ul>
    </div>
    <div class='col-md-9'>
      <h2>ゲームレビュー</h2>
    <%= link_to '新しい順', games_path(latest: "true") %>
    <%= link_to '古い順', games_path(old: "true") %>
    <%= link_to '評価の高い順', games_path(star_count: "true") %>
    <%= render 'public/games/index', game: @games%>
   </div>
  </div>
</div>
